#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background-color: #000000;
}

#navbar h2 {
    color: #7703fc;
    font-weight: 900;
}

#navbar ul {
    align-items: center;
}