#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background-color: #000000;
}

#navbar h2 {
    color: #7703fc;
    font-weight: 900;
}

#navbar ul {
    align-items: center;
}

.logout-btn{
    padding: 0.5rem;
    border-radius: 5px;
    border: none; 
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover{
    background-color: #584fe0;
}